.header {
  height: 90vh;
  /* font-family: ;font-family: 'Inter', sans-serif; */
  /* font-family: 'Kaushan Script', cursive; */
  font-family: "Lato", sans-serif;
}
.header .profileName {
  color: var(--white-text-clr);
  font-weight: 700;
  letter-spacing: 1.625px;
}
.header .profile_desc {
  color: var(--secondary-text-clr);
  font-weight: 400;
}
.header .profession {
  font-family: "Kaushan Script", cursive;
  color: var(--white-text-clr);
  position: relative;
  width: max-content;
  margin: 0 auto;
  z-index: 1;
}
.header .profession::after {
  content: "";
  position: absolute;
  left: 0%;
  z-index: -1;
  bottom: -1px;
  height: 2rem;
  width: 104%;
  background: linear-gradient(
    90deg,
    rgba(160, 87, 254, 0.31) 0%,
    rgba(202, 35, 175, 0.37) 98.54%
  );
  background-blend-mode: lighten;
}

/* Section Styles */
.section .subTitle {
  color: var(--secondary-text-clr);
  font-weight: 300;
  margin-left: 2rem;
}
.section .title {
  font-weight: 700;
  background-color: rgba(160, 87, 254, 65%);
  color: transparent;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.skillsContainer .skillImg {
  position: absolute;
  height: 100%;
  right: 0;
  /* mix-blend-mode: hard-light; */
  opacity: 5%;
  object-fit: cover;
}

.projectContainer .project {
  background: #232323;
}

.professionContainer {
  font-family: "Inter", sans-serif;
}
.projectContainer h3 {
  color: var(--secondary-text-clr);
}
.projectContainer h3 span {
  color: var(--primary-text-clr);
}
.projectContainer p {
  color: var(--secondary-text-clr);
}
.projectContainer .skills p {
  font-weight: 500;
  color: var(--white-text-clr);
  margin-bottom: 0;
  margin-right: 1rem;
}

.project .liveLink {
  color: var(--primary-text-clr);
  border: 1px solid var(--primary-text-clr);
  border-radius: 4px;
}
.project .gitLink {
  color: #455a64;
  border: 1px solid #455a64;
  border-radius: 4px;
}

.experienceContainer .details {
  color: var(--secondary-text-clr);
}
.experienceContainer .details h4 {
  color: var(--white-text-clr);
}

.experienceContainer .timeline {
  position: relative;
  height: 100%;
}
.experienceContainer .timeline::after {
  content: "";
  position: absolute;
  height: 105%;
  width: 0.6rem;
  background-color: var(--white-text-clr);
  top: 10%;
  left: 50%;
  transform: translateX(-75%);
  z-index: -1;
}

.experienceContainer ul {
  list-style: none;
}

.footerContainer h2 {
  color: var(--white-text-clr);
  font-weight: 700;
}
@media (max-width: 768px) {
  .header {
    height: 100%;
  }
  .header .profileImg {
    width: 100%;
  }
}
