* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  /* --primary-clr: #121212; */
  --dark-black: #121212;
  --primary-text-clr: #7933CC;
  --white-text-clr: #fffdfa;
  --secondary-text-clr: #AEACAC;
}

body{
  background: var(--dark-black);
}

img{
  aspect-ratio: attr(width)/attr(height);
}

a{
  text-decoration: none;
  color: inherit;
}

.fs-xxxl {
  font-size: clamp(3.5rem, 5vw, 7rem);
}

.fs-xxl {
  font-size: clamp(3.5rem, 3.8vw, 5rem);
}

.fs-xl {
  font-size: clamp(2.8rem, 3.5vw, 3.8rem);
}

.fs-lg {
  font-size: clamp(2rem, 3.5vw, 2.8rem);
}

.fs-md {
  font-size: clamp(1.6rem, 2.8vw, 2.2rem);
}

.fs-sm {
  font-size: clamp(1.4rem, 2.4vw, 1.6rem);
}

.fs-xs{
  font-size: clamp(1rem, 2.4vw, 1.4rem);
}

.padding-x{
  padding-left: clamp(2rem, 8vw, 8rem);
  padding-right: clamp(2rem, 8vw, 8rem);
}

.padding-y{
  padding-top: clamp(1.25rem, 8vw, 4rem);
  padding-bottom: clamp(1.25rem, 8vw, 4rem);
}

.mainHeader{
  height: 100%;
  background: url('../public/header_bg.webp');
  background-attachment: fixed;
}

#experience{
  background: url('../public/experience_bg.webp');
  background-attachment: fixed;
}
#footer{
  height: 40vh;
  background: url('../public/footer_bg.webp');
  background-size: cover;
}